  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  body {
    box-sizing: border-box;
    font-family: 'Open-sans',sans-serif;
    background-color: #fff;
    color:  #333;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
  }


  h1, h3 {
    font-weight: bold;
  }


    /* #main styling */

  #main {
    margin: 30px 5px;
    padding: 20px;
  }
  @media (max-width: 460px){
    #main {
      margin: 0;
    }
  }


     /* #title styling */

  #title {
    font-size: 3rem;
    margin: 1rem 0 0;
  }
  .paragraph1 {
    margin: 0.5rem 0;
  }
  @media (max-width: 460px) {
    h1 {
      font-size: 2.5rem;
      line-height: 1.2;
    }
  }


      /*img styling*/
  
   img {
    max-width: 100%;
    display: flex;
    height: auto;
    margin: 0 auto;
  }
  #img-div {
    padding: 10px;
    margin: 0;
    }
  #img-caption{
    margin: 15px 0 5px 0;
    font-style: italic;
  }
  @media (max-width: 460px){
    #img-caption {
      font-style: 1.4rem;
    }
  }

  /* section styling */

  #tribute_info {
    max-width: 700px;
    margin: 1.5rem auto 3rem;
  }

  section > p {
    text-align: justify;
    text-indent: 2rem;
    margin: 0.4rem 0;
  }

  h3 {
    font-size: 1.2rem;
  }

  a:visited {
    color: #a00000;
  }

  a:hover {
    color: #74638f;
  }